@import url(https://weloveiconfonts.com/api/?family=fontawesome);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome',sans-serif;
    color: #052645;

}

#nameList {
    border: 0.8px solid #999;
    border-radius: 5px;
    padding: 3px 10px;
    background: #fff;
}

#nameList:hover{
    cursor: pointer;
}

#searchBox {
    margin: 30px 2px 10px 10px;
}

#hamburger {
    width: 45%;
    margin-top: 35px;
    margin-left: 50px;
}

#title-bar {
    background: #00FFFF;
    display: flex;
}

#heading {
    width: 65%;
    text-align: left;
}

.titles {
    margin: 2px 10px 0 2px;
}

#main {
    height:80%;
    width:100%;
    position: relative;
    display: flex;
}

#mainMap{
    width: 100%;
}

#myMap {
    height: 100%;
}

.close {
    background: #dfdfdf;
    position: absolute;
    border: 1px solid #151515;
    border-radius: 5px;
    height: 100%;
    width: 350px;
    text-align: left;
    transform:translate(-400px,0);
}

.open {
    position: relative;
    transform: translate(0, 0);
}
